/* Fira Code */

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/css/fonts/FiraCode/FiraCode-Light.woff');
  src: url('/css/fonts/FiraCode/FiraCode-Light.woff') format('woff'),
    url('/css/fonts/FiraCode/FiraCode-Light.woff2') format('woff2'),
    url('/css/fonts/FiraCode/FiraCode-Light.ttf') format('truetype'),
    url('/css/fonts/FiraCode/FiraCode-Light.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/css/fonts/FiraCode/FiraCode-Regular.woff');
  src: url('/css/fonts/FiraCode/FiraCode-Regular.woff') format('woff'),
    url('/css/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2'),
    url('/css/fonts/FiraCode/FiraCode-Regular.ttf') format('truetype'),
    url('/css/fonts/FiraCode/FiraCode-Regular.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/css/fonts/FiraCode/FiraCode-Medium.woff');
  src: url('/css/fonts/FiraCode/FiraCode-Medium.woff') format('woff'),
    url('/css/fonts/FiraCode/FiraCode-Medium.woff2') format('woff2'),
    url('/css/fonts/FiraCode/FiraCode-Medium.ttf') format('truetype'),
    url('/css/fonts/FiraCode/FiraCode-Medium.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/css/fonts/FiraCode/FiraCode-Semi-bold.woff');
  src: url('/css/fonts/FiraCode/FiraCode-Semi-bold.woff') format('woff'),
    url('/css/fonts/FiraCode/FiraCode-Semi-bold.woff2') format('woff2'),
    url('/css/fonts/FiraCode/FiraCode-Semi-bold.ttf') format('truetype'),
    url('/css/fonts/FiraCode/FiraCode-Semi-bold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/css/fonts/FiraCode/FiraCode-Bold.woff');
  src: url('/css/fonts/FiraCode/FiraCode-Bold.woff') format('woff'),
    url('/css/fonts/FiraCode/FiraCode-Bold.woff2') format('woff2'),
    url('/css/fonts/FiraCode/FiraCode-Bold.ttf') format('truetype'),
    url('/css/fonts/FiraCode/FiraCode-Bold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
